<div class="b-example-divider"></div>
<div id="menuPrincipal">
  <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
    <div class="d-grid gap-2">
      <li class="list-inline-item">
        <a routerLink="/users">
          <button type="submit" [disabled] class="btn btn-outline-secondary">Contas
          </button></a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/adduser" class="btn btn-outline-primary">Login</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/users" class="btn btn-outline-secondary">Rendas</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/adduser" class="btn btn-outline-primary">Veiculos</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/users" class="btn btn-outline-secondary">Imóveis</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/adduser" class="btn btn-outline-primary">Empresas</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/users" class="btn btn-outline-secondary">Ações</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/adduser" class="btn btn-outline-primary">Tesouro direto</a>
      </li>
    </div>
  </div>
</div>
