<div id="tabela">
<h2>Contas</h2>
  <table class="table table-bordered" border="1px">
    <thead>
    <tr>
      <th>Agência</th>
      <th>Conta</th>
      <th>Tipo</th>
      <th>Banco</th>
      <th>Saldo</th>
      <th>Excluir</th>
      <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let conta of contasBancarias; let i = index">
      <td>{{conta.agencia}}</td>
      <td>{{conta.conta}}</td>
      <td>{{conta.tipo}}</td>
      <td>{{conta.banco}}</td>
      <td>{{conta.saldo}}</td>
      <td><button>-</button></td>
      <td><button>@</button></td>
    </tr>
    </tbody>
  </table>
</div>
<app-inserir-contas-modal></app-inserir-contas-modal>
