<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form-group">
    <label for="agencia">Agência</label><br>
    <input type="text" [(ngModel)]="contas.agencia"
           class="form-control"
           id="agencia"
           name="agencia"
           placeholder="Agencia"
           required #name="ngModel">
  </div>
  <div class="form-group">
    <label for="conta">Conta</label><br>
    <input type="text" [(ngModel)]="contas.conta"
           class="form-control"
           id="conta"
           name="conta"
           placeholder="Contas"
           required #email="ngModel">
  </div>
  <div class="form-group">
    <label for="tipo">Banco</label><br>
    <select name="tipo" id="tipo">
      <option>Poupança</option>
      <option>Conta Salário</option>
      <option>Conta Corrente</option>
      <option>Conta Empresarial</option>
    </select>
  </div>
  <div class="form-group">
    <label for="banco">Banco</label><br>
    <select name="banco" id="banco">
      <option>Banco do Brasil</option>
      <option>Bradesco</option>
      <option>Banco Pan</option>
      <option>C6</option>
      <option>Caixa Econômica Federal</option>
      <option>Itaú</option>
      <option>Nubank</option>
      <option>Santander</option>
      <option>Outros</option>
    </select>
  </div>
  <div class="form-group">
    <label for="saldo">E-mail</label><br>
    <input type="text" [(ngModel)]="contas.saldo"
           class="form-control"
           id="saldo"
           name="saldo"
           placeholder="R$"
           required #name="ngModel">
  </div>
  <button type="submit" [disabled]="!userForm.form.valid"
          class="btn btn-info">Submit
  </button>
</form>
