<div id="tabela">
<h2>Contas</h2>
  <table border="1px" class="form-control">
    <thead>
    <tr class="form-control">
      <th>Agência</th>
      <th>Conta</th>
      <th>Banco</th>
      <th>Saldo</th>
      <th>Tipo</th>
      <th>Excluir</th>
      <th>Alterar</th>
    </tr>
    </thead>
    <tbody class="form-control">
    <tr *ngFor="let conta of contasBancarias; let i = index">
      <td>{{conta.agencia}}</td>
      <td>{{conta.conta}}</td>
      <td>{{conta.banco}}</td>
      <td>{{conta.saldo}}</td>
      <td>{{conta.tipo}}</td>
      <td><button type="button" class="btn btn-danger"
      (click)="excluir(conta.id)"> Excluir</button></td>
      <td><app-alterar-contas-modal [idConta]=conta.id></app-alterar-contas-modal></td>
    </tr>
    </tbody>
  </table>
</div>
<app-inserir-contas-modal></app-inserir-contas-modal>
