<div class="accordion">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#8659; <b>USER</b> &#8659;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="list">
          <a routerLink="/info">Informações</a><br>
        </div>
        <div class="list">
          <a routerLink="/logout">Logout</a><br>
        </div>
        <div class="list">
          <a routerLink="/criarUsuario">Criar Usuario</a><br>
        </div>
        <div class="list">
          <a routerLink="/perfil">Perfil</a><br>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#8659; <b>HOME</b> &#8659;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="list">
          <a routerLink="/home">Home</a><br>
        </div>
        <div class="list">
          <a routerLink="/">Login</a><br>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#8659; <b>MENU</b> &#8659;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="list">
          <a routerLink="/contasBancarias">Contas</a><br>
        </div>
        <div class="list">
          <a routerLink="/ganhos">Ganhos</a><br>
        </div>
        <div class="list">
          <a routerLink="/gastos">Gastos</a><br>
        </div>
        <div class="list">
          <a routerLink="/veiculos">Veículos</a><br>
        </div>
        <div class="list">
          <a routerLink="/imoveis">Imóveis</a><br>
        </div>
        <div class="list">
          <a routerLink="/empresas">Empreasas</a><br>
        </div>
        <div class="list">
          <a routerLink="/acoes">Ações</a><br>
        </div>
        <div class="list">
          <a routerLink="/ganhos/deletar">Tesouro Direto</a><br>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
