<ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
  <ngb-panel title="Contas" id="config-panel-one">
    <ng-template ngbPanelContent>
      <a routerLink="/contas/adiconar">Adicionar</a><br>
      <a routerLink="/contas/procurar">Procurar</a><br>
      <a routerLink="/contas/alterar">Alterar</a><br>
      <a routerLink="/contas/deletar">Deletar</a><br>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Gastos">
    <ng-template ngbPanelContent>
      <a routerLink="/gastos/adiconar">Adicionar</a><br>
      <a routerLink="/gastos/procurar">Procurar</a><br>
      <a routerLink="/gastos/alterar">Alterar</a><br>
      <a routerLink="/gastos/deletar">Deletar</a><br>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Ganhos">
    <ng-template ngbPanelContent>
      <a routerLink="/ganhos/adiconar">Adicionar</a><br>
      <a routerLink="/ganhos/procurar">Procurar</a><br>
      <a routerLink="/ganhos/alterar">Alterar</a><br>
      <a routerLink="/ganhos/deletar">Deletar</a><br>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
